html {
    background: linear-gradient(115deg, rgba(107, 4, 186, 0.8), rgba(0, 0, 0, 0.815) ) ,url(https://wallpapers.com/images/high/lustrous-midnight-black-mamba-snake-2axp5v66eoih1b3p.webp)  center center fixed;
     background-position: center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
   }
   
   body {
     margin: 0;
     color: #f5f6f7;
     font-family: Tahoma;
     font-size: 16px;
     height: auto;
     text-align: center;
   }
   
   img {
     display: flex;
     margin: auto;
     justify-content: center;
     align-items: center;
   }
   
   figcaption {
   padding-top: 5px;
   }
   
   main {
     display: block;
   }
   
   img{
     display: block;
     max-width: 100%;
   }
   
   ul{
     max-width: 550px;
     margin: 0px auto 50px auto;
     text-align: left;
     line-height: 1.6;
   padding-inline-start: 40px;
   }
   
   li{
     display: list-item;
     margin: 14px 0;
   }
   
   blockquote{
     font-style: Italic;
     max-width: 545px;
     margin: 0 auto 50px auto;
     text-align: center;
   }
   
   h3{
     margin: 0 auto 50px auto;
     padding-bottom: 80px;
   }
   
   
   
   